:root,
.light,
.light-theme {
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #efefef;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d8d8d8;
  --gray-7: #cecece;
  --gray-8: #bbb;
  --gray-9: #8d8d8d;
  --gray-10: #818181;
  --gray-11: #646464;
  --gray-12: #202020;

  --gray-a1: #00000003;
  --gray-a2: #00000006;
  --gray-a3: #00000010;
  --gray-a4: #00000017;
  --gray-a5: #0000001f;
  --gray-a6: #00000027;
  --gray-a7: #00000031;
  --gray-a8: #00000044;
  --gray-a9: #00000072;
  --gray-a10: #0000007e;
  --gray-a11: #0000009b;
  --gray-a12: #000000df;

  --gray-contrast: #fff;
  --gray-surface: #f8f8f8cc;
  --gray-indicator: #8d8d8d;
  --gray-track: #8d8d8d;

  --celestial-1: hsl(240, 40%, 98%);
  --celestial-2: hsl(240, 40%, 96.1%);
  --celestial-3: hsl(240, 31.8%, 91.4%);
  --celestial-4: hsl(240, 26.8%, 83.9%);
  --celestial-5: hsl(240, 20.2%, 65.1%);
  --celestial-6: hsl(240, 16.3%, 46.9%);
  --celestial-7: hsl(240, 19.3%, 34.5%);
  --celestial-8: hsl(240, 25%, 26.7%);
  --celestial-9: hsl(240, 32.6%, 17.5%);
  --celestial-10: hsl(240, 47.4%, 11.2%);
  --celestial-11: hsl(240, 84%, 4.9%);
  --celestial-12: hsl(240, 100%, 2%);

  --celestial-a1: hsla(240, 40%, 98%, 0.03);
  --celestial-a2: hsla(240, 40%, 96.1%, 0.06);
  --celestial-a3: hsla(240, 31.8%, 91.4%, 0.1);
  --celestial-a4: hsla(240, 26.8%, 83.9%, 0.15);
  --celestial-a5: hsla(240, 20.2%, 65.1%, 0.2);
  --celestial-a6: hsla(240, 16.3%, 46.9%, 0.25);
  --celestial-a7: hsla(240, 19.3%, 34.5%, 0.31);
  --celestial-a8: hsla(240, 25%, 26.7%, 0.44);
  --celestial-a9: hsla(240, 32.6%, 17.5%, 0.72);
  --celestial-a10: hsla(240, 47.4%, 11.2%, 0.82);
  --celestial-a11: hsla(240, 84%, 4.9%, 0.91);
  --celestial-a12: hsla(240, 100%, 2%, 0.97);

  --custom-1: #fefcfe;
  --custom-2: #fbf8fc;
  --custom-3: #f7edf7;
  --custom-4: #f1e2f2;
  --custom-5: #ead6eb;
  --custom-6: #e0c8e2;
  --custom-7: #d3b5d6;
  --custom-8: #c29bc6;
  --custom-9: #734079;
  --custom-10: #633169;
  --custom-11: #86528c;
  --custom-12: #49284d;

  --custom-a1: #aa00aa03;
  --custom-a2: #6e009207;
  --custom-a3: #8e008e12;
  --custom-a4: #84008d1d;
  --custom-a5: #7d008329;
  --custom-a6: #70007937;
  --custom-a7: #6801724a;
  --custom-a8: #64006e64;
  --custom-a9: #44004cbf;
  --custom-a10: #3e0045ce;
  --custom-a11: #4d0056ad;
  --custom-a12: #27002cd7;

  --custom-contrast: #fff;
  --custom-surface: #faf6fbcc;
  --custom-indicator: #734079;
  --custom-track: #734079;

  --cyan-1: #fafdfe;
  --cyan-2: #f2fafc;
  --cyan-3: #def7fb;
  --cyan-4: #caf1f8;
  --cyan-5: #b5e8f2;
  --cyan-6: #9edde9;
  --cyan-7: #7dcedc;
  --cyan-8: #3cb9cc;
  --cyan-9: #00a6bb;
  --cyan-10: #0099ac;
  --cyan-11: #007f92;
  --cyan-12: #093d45;

  --cyan-a1: #0099cc05;
  --cyan-a2: #009dc50d;
  --cyan-a3: #00c2e121;
  --cyan-a4: #00bcde35;
  --cyan-a5: #01b0d34a;
  --cyan-a6: #00a6c661;
  --cyan-a7: #009fbb82;
  --cyan-a8: #00a4bcc3;
  --cyan-a9: #00a6bb;
  --cyan-a10: #0099ac;
  --cyan-a11: #007f92;
  --cyan-a12: #00363ef6;

  --cyan-contrast: #fff;
  --cyan-surface: #eff9fbcc;
  --cyan-indicator: #00a6bb;
  --cyan-track: #00a6bb;

  --green-1: #fbfefc;
  --green-2: #f4fbf7;
  --green-3: #e5f6ec;
  --green-4: #d5f1e0;
  --green-5: #c3e8d2;
  --green-6: #adddc1;
  --green-7: #8eceaa;
  --green-8: #5eb88a;
  --green-9: #37a370;
  --green-10: #269665;
  --green-11: #008150;
  --green-12: #1c3b2b;

  --green-a1: #00c04004;
  --green-a2: #00a3460b;
  --green-a3: #00a7451a;
  --green-a4: #00aa432a;
  --green-a5: #009e403c;
  --green-a6: #00963f52;
  --green-a7: #00914071;
  --green-a8: #008f46a1;
  --green-a9: #008a49c8;
  --green-a10: #00844ad9;
  --green-a11: #008150;
  --green-a12: #002311e3;

  --green-contrast: #fff;
  --green-surface: #f1faf5cc;
  --green-indicator: #37a370;
  --green-track: #37a370;

  --violet-1: #fcfcfe;
  --violet-2: #f9f8ff;
  --violet-3: #f3f1ff;
  --violet-4: #eae5ff;
  --violet-5: #e0d9ff;
  --violet-6: #d4cafe;
  --violet-7: #c2b5f5;
  --violet-8: #ab98eb;
  --violet-9: #745db5;
  --violet-10: #674fa6;
  --violet-11: #6b53aa;
  --violet-12: #35245d;

  --violet-a1: #0000aa03;
  --violet-a2: #2500ff07;
  --violet-a3: #2500ff0e;
  --violet-a4: #3200ff1a;
  --violet-a5: #2f00ff26;
  --violet-a6: #3100fb35;
  --violet-a7: #2d01dd4a;
  --violet-a8: #3000ce67;
  --violet-a9: #24008ba2;
  --violet-a10: #23007eb0;
  --violet-a11: #240081ac;
  --violet-a12: #140042db;

  --violet-contrast: #fff;
  --violet-surface: #f8f6ffcc;
  --violet-indicator: #745db5;
  --violet-track: #745db5;

  --amber-1: #fefdfb;
  --amber-2: #fffae9;
  --amber-3: #fff3c0;
  --amber-4: #ffe99a;
  --amber-5: #ffde74;
  --amber-6: #fcd272;
  --amber-7: #e9c162;
  --amber-8: #d7aa30;
  --amber-9: #ffc600;
  --amber-10: #f6bd02;
  --amber-11: #9a7000;
  --amber-12: #46391c;

  --amber-a1: #c0800004;
  --amber-a2: #ffc60016;
  --amber-a3: #ffcf003f;
  --amber-a4: #ffc80065;
  --amber-a5: #ffc3008b;
  --amber-a6: #faae008d;
  --amber-a7: #dc9b009d;
  --amber-a8: #ce9600cf;
  --amber-a9: #ffc600;
  --amber-a10: #f6bc00fd;
  --amber-a11: #9a7000;
  --amber-a12: #2f2100e3;

  --amber-contrast: #2a2009;
  --amber-surface: #fff9e4cc;
  --amber-indicator: #ffc600;
  --amber-track: #ffc600;

  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #feebeb;
  --red-4: #ffdbdb;
  --red-5: #ffcdcd;
  --red-6: #fdbdbd;
  --red-7: #f4a9aa;
  --red-8: #eb8e91;
  --red-9: #cb6368;
  --red-10: #bd565d;
  --red-11: #b44e55;
  --red-12: #641721;

  --red-a1: #ff000003;
  --red-a2: #ff000008;
  --red-a3: #f3000014;
  --red-a4: #ff000024;
  --red-a5: #ff000032;
  --red-a6: #f8000042;
  --red-a7: #df000356;
  --red-a8: #d2000771;
  --red-a9: #aa00089c;
  --red-a10: #9c000ba9;
  --red-a11: #93000ab1;
  --red-a12: #55000be8;

  --red-contrast: #fff;
  --red-surface: #fff5f5cc;
  --red-indicator: #cb6368;
  --red-track: #cb6368;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.1% 0 none);
      --gray-2: oklch(98.1% 0 none);
      --gray-3: oklch(95.3% 0 none);
      --gray-4: oklch(93% 0 none);
      --gray-5: oklch(90.8% 0 none);
      --gray-6: oklch(88.4% 0 none);
      --gray-7: oklch(85.1% 0 none);
      --gray-8: oklch(79.1% 0 none);
      --gray-9: oklch(64.3% 0 none);
      --gray-10: oklch(60.3% 0 none);
      --gray-11: oklch(50.3% 0 none);
      --gray-12: oklch(24.3% 0 none);

      --gray-a1: color(display-p3 0 0 0 / 0.0118);
      --gray-a2: color(display-p3 0 0 0 / 0.0235);
      --gray-a3: color(display-p3 0 0 0 / 0.0627);
      --gray-a4: color(display-p3 0 0 0 / 0.0902);
      --gray-a5: color(display-p3 0 0 0 / 0.1216);
      --gray-a6: color(display-p3 0 0 0 / 0.1529);
      --gray-a7: color(display-p3 0 0 0 / 0.1922);
      --gray-a8: color(display-p3 0 0 0 / 0.2667);
      --gray-a9: color(display-p3 0 0 0 / 0.4471);
      --gray-a10: color(display-p3 0 0 0 / 0.4941);
      --gray-a11: color(display-p3 0 0 0 / 0.6078);
      --gray-a12: color(display-p3 0 0 0 / 0.8745);

      --gray-contrast: #fff;
      --gray-surface: color(display-p3 0.9725 0.9725 0.9725 / 0.8);
      --gray-indicator: oklch(64.3% 0 none);
      --gray-track: oklch(64.3% 0 none);

      --custom-1: oklch(99.3% 0.0028 323.2);
      --custom-2: oklch(98.3% 0.0057 323.2);
      --custom-3: oklch(95.7% 0.0167 323.2);
      --custom-4: oklch(93% 0.0266 323.2);
      --custom-5: oklch(89.9% 0.0353 323.2);
      --custom-6: oklch(86% 0.0447 323.2);
      --custom-7: oklch(80.8% 0.0569 323.2);
      --custom-8: oklch(74% 0.0748 323.2);
      --custom-9: oklch(45.6% 0.1074 323.2);
      --custom-10: oklch(40.2% 0.1074 323.2);
      --custom-11: oklch(52% 0.1074 323.2);
      --custom-12: oklch(33.5% 0.0758 323.2);

      --custom-a1: color(display-p3 0.6745 0.0235 0.6745 / 0.012);
      --custom-a2: color(display-p3 0.302 0.0235 0.5804 / 0.028);
      --custom-a3: color(display-p3 0.451 0.0078 0.5059 / 0.071);
      --custom-a4: color(display-p3 0.3961 0.0039 0.502 / 0.11);
      --custom-a5: color(display-p3 0.4039 0.0039 0.4784 / 0.157);
      --custom-a6: color(display-p3 0.3529 0.0039 0.4275 / 0.212);
      --custom-a7: color(display-p3 0.3333 0.0039 0.4157 / 0.287);
      --custom-a8: color(display-p3 0.3176 0.0039 0.3882 / 0.385);
      --custom-a9: color(display-p3 0.2235 0 0.2745 / 0.742);
      --custom-a10: color(display-p3 0.1961 0 0.2471 / 0.797);
      --custom-a11: color(display-p3 0.251 0 0.3098 / 0.671);
      --custom-a12: color(display-p3 0.1216 0 0.1569 / 0.836);

      --custom-contrast: #fff;
      --custom-surface: color(display-p3 0.9804 0.9647 0.9804 / 0.8);
      --custom-indicator: oklch(45.6% 0.1074 323.2);
      --custom-track: oklch(45.6% 0.1074 323.2);

      --cyan-1: oklch(99.2% 0.0037 209.7);
      --cyan-2: oklch(98% 0.009 209.7);
      --cyan-3: oklch(95.8% 0.0265 209.7);
      --cyan-4: oklch(93.2% 0.0412 209.7);
      --cyan-5: oklch(90% 0.0538 209.7);
      --cyan-6: oklch(85.9% 0.066 209.7);
      --cyan-7: oklch(80.5% 0.0816 209.7);
      --cyan-8: oklch(72.7% 0.1098 209.7);
      --cyan-9: oklch(66.2% 0.1215 209.7);
      --cyan-10: oklch(62.2% 0.1141 209.7);
      --cyan-11: oklch(54% 0.1215 209.7);
      --cyan-12: oklch(33.2% 0.0528 209.7);

      --cyan-a1: color(display-p3 0.0235 0.5137 0.7569 / 0.016);
      --cyan-a2: color(display-p3 0.0235 0.5922 0.7569 / 0.048);
      --cyan-a3: color(display-p3 0.0039 0.6824 0.8235 / 0.11);
      --cyan-a4: color(display-p3 0.0039 0.6706 0.8235 / 0.177);
      --cyan-a5: color(display-p3 0.0039 0.6275 0.7686 / 0.251);
      --cyan-a6: color(display-p3 0.0039 0.5725 0.7176 / 0.33);
      --cyan-a7: color(display-p3 0.0039 0.5412 0.6667 / 0.436);
      --cyan-a8: color(display-p3 0 0.5373 0.6588 / 0.616);
      --cyan-a9: color(display-p3 0 0.4941 0.6078 / 0.71);
      --cyan-a10: color(display-p3 0 0.4471 0.5412 / 0.738);
      --cyan-a11: color(display-p3 0 0.349 0.4471 / 0.785);
      --cyan-a12: color(display-p3 0 0.149 0.1843 / 0.899);

      --cyan-contrast: #fff;
      --cyan-surface: color(display-p3 0.9412 0.9765 0.9804 / 0.8);
      --cyan-indicator: oklch(66.2% 0.1215 209.7);
      --cyan-track: oklch(66.2% 0.1215 209.7);

      --green-1: oklch(99.4% 0.0043 159.1);
      --green-2: oklch(98.2% 0.009 159.1);
      --green-3: oklch(95.9% 0.0228 159.1);
      --green-4: oklch(93.3% 0.0361 159.1);
      --green-5: oklch(90% 0.0492 159.1);
      --green-6: oklch(85.7% 0.064 159.1);
      --green-7: oklch(79.8% 0.0832 159.1);
      --green-8: oklch(71.4% 0.1114 159.1);
      --green-9: oklch(64.1% 0.1247 159.1);
      --green-10: oklch(60% 0.1247 159.1);
      --green-11: oklch(52.9% 0.1247 159.1);
      --green-12: oklch(32.2% 0.047 159.1);

      --green-a1: color(display-p3 0.0235 0.6745 0.0235 / 0.012);
      --green-a2: color(display-p3 0.0235 0.6118 0.2196 / 0.04);
      --green-a3: color(display-p3 0.0118 0.5725 0.2275 / 0.091);
      --green-a4: color(display-p3 0.0078 0.6 0.1961 / 0.146);
      --green-a5: color(display-p3 0.0039 0.549 0.1725 / 0.208);
      --green-a6: color(display-p3 0.0039 0.5176 0.1686 / 0.283);
      --green-a7: color(display-p3 0.0039 0.4863 0.1725 / 0.389);
      --green-a8: color(display-p3 0 0.4706 0.1765 / 0.542);
      --green-a9: color(display-p3 0 0.4392 0.1686 / 0.655);
      --green-a10: color(display-p3 0 0.4078 0.1686 / 0.706);
      --green-a11: color(display-p3 0 0.3569 0.1412 / 0.781);
      --green-a12: color(display-p3 0 0.102 0.0353 / 0.859);

      --green-contrast: #fff;
      --green-surface: color(display-p3 0.9569 0.9804 0.9608 / 0.8);
      --green-indicator: oklch(64.1% 0.1247 159.1);
      --green-track: oklch(64.1% 0.1247 159.1);

      --violet-1: oklch(99.2% 0.0028 293.6);
      --violet-2: oklch(98.3% 0.009 293.6);
      --violet-3: oklch(96.3% 0.0189 293.6);
      --violet-4: oklch(93.4% 0.0392 293.6);
      --violet-5: oklch(90.4% 0.0569 293.6);
      --violet-6: oklch(86.4% 0.0724 293.6);
      --violet-7: oklch(80.6% 0.0902 293.6);
      --violet-8: oklch(72.9% 0.119 293.6);
      --violet-9: oklch(54.2% 0.1353 293.6);
      --violet-10: oklch(49.5% 0.1353 293.6);
      --violet-11: oklch(50.8% 0.1353 293.6);
      --violet-12: oklch(31.3% 0.0975 293.6);

      --violet-a1: color(display-p3 0.0235 0.0235 0.6745 / 0.012);
      --violet-a2: color(display-p3 0.1608 0.0235 0.8627 / 0.028);
      --violet-a3: color(display-p3 0.1451 0.0039 0.9294 / 0.055);
      --violet-a4: color(display-p3 0.1569 0.0039 0.9255 / 0.102);
      --violet-a5: color(display-p3 0.1647 0.0078 0.9216 / 0.15);
      --violet-a6: color(display-p3 0.1529 0.0039 0.9059 / 0.208);
      --violet-a7: color(display-p3 0.1529 0.0039 0.8 / 0.291);
      --violet-a8: color(display-p3 0.149 0 0.7451 / 0.4);
      --violet-a9: color(display-p3 0.1137 0 0.5098 / 0.632);
      --violet-a10: color(display-p3 0.1098 0 0.4627 / 0.687);
      --violet-a11: color(display-p3 0.1137 0 0.4745 / 0.671);
      --violet-a12: color(display-p3 0.0588 0 0.2431 / 0.855);

      --violet-contrast: #fff;
      --violet-surface: color(display-p3 0.9725 0.9647 1 / 0.8);
      --violet-indicator: oklch(54.2% 0.1353 293.6);
      --violet-track: oklch(54.2% 0.1353 293.6);

      --amber-1: oklch(99.4% 0.0028 86.69);
      --amber-2: oklch(98.6% 0.0242 86.69);
      --amber-3: oklch(96.9% 0.0693 86.69);
      --amber-4: oklch(94.6% 0.105 86.69);
      --amber-5: oklch(91.9% 0.134 86.69);
      --amber-6: oklch(88.1% 0.1245 86.69);
      --amber-7: oklch(82.8% 0.1224 86.69);
      --amber-8: oklch(75.8% 0.1408 86.69);
      --amber-9: oklch(85.8% 0.1791 86.69);
      --amber-10: oklch(82.7% 0.1688 86.69);
      --amber-11: oklch(56.9% 0.1442 86.69);
      --amber-12: oklch(35.2% 0.0485 86.69);

      --amber-a1: color(display-p3 0.7569 0.5137 0.0235 / 0.016);
      --amber-a2: color(display-p3 0.9529 0.7529 0.0078 / 0.079);
      --amber-a3: color(display-p3 0.9686 0.7922 0.0039 / 0.224);
      --amber-a4: color(display-p3 0.9569 0.7725 0.0039 / 0.357);
      --amber-a5: color(display-p3 0.9608 0.7412 0.0039 / 0.483);
      --amber-a6: color(display-p3 0.9216 0.6627 0.0039 / 0.499);
      --amber-a7: color(display-p3 0.8039 0.5804 0 / 0.557);
      --amber-a8: color(display-p3 0.7412 0.5412 0 / 0.71);
      --amber-a9: color(display-p3 0.9529 0.7059 0 / 0.734);
      --amber-a10: color(display-p3 0.9059 0.6627 0 / 0.746);
      --amber-a11: color(display-p3 0.5098 0.3569 0 / 0.859);
      --amber-a12: color(display-p3 0.1608 0.1137 0 / 0.875);

      --amber-contrast: #2a2009;
      --amber-surface: color(display-p3 1 0.9765 0.898 / 0.8);
      --amber-indicator: oklch(85.8% 0.1791 86.69);
      --amber-track: oklch(85.8% 0.1791 86.69);

      --red-1: oklch(99.4% 0.0031 18.32);
      --red-2: oklch(98.3% 0.0082 18.32);
      --red-3: oklch(95.6% 0.0209 18.32);
      --red-4: oklch(92.8% 0.0469 18.32);
      --red-5: oklch(89.6% 0.0615 18.32);
      --red-6: oklch(85.7% 0.0741 18.32);
      --red-7: oklch(80.7% 0.0888 18.32);
      --red-8: oklch(74.5% 0.1124 18.32);
      --red-9: oklch(62.5% 0.1332 18.32);
      --red-10: oklch(58.4% 0.1332 18.32);
      --red-11: oklch(55.7% 0.1332 18.32);
      --red-12: oklch(33.9% 0.1084 18.32);

      --red-a1: color(display-p3 0.6745 0.0235 0.0235 / 0.012);
      --red-a2: color(display-p3 0.8784 0.0196 0.0196 / 0.032);
      --red-a3: color(display-p3 0.8039 0.0588 0.0078 / 0.079);
      --red-a4: color(display-p3 0.8314 0.0078 0.0078 / 0.138);
      --red-a5: color(display-p3 0.8392 0.0275 0.0078 / 0.193);
      --red-a6: color(display-p3 0.8157 0.0314 0.0039 / 0.255);
      --red-a7: color(display-p3 0.7373 0.0039 0.0039 / 0.326);
      --red-a8: color(display-p3 0.698 0.0039 0.0118 / 0.428);
      --red-a9: color(display-p3 0.5686 0 0.0078 / 0.589);
      --red-a10: color(display-p3 0.5176 0 0.0196 / 0.64);
      --red-a11: color(display-p3 0.4863 0 0.0196 / 0.671);
      --red-a12: color(display-p3 0.2784 0 0.0275 / 0.887);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.9961 0.9647 0.9608 / 0.8);
      --red-indicator: oklch(62.5% 0.1332 18.32);
      --red-track: oklch(62.5% 0.1332 18.32);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #000;
  --gray-2: #121212;
  --gray-3: #1f1f1f;
  --gray-4: #282828;
  --gray-5: #303030;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #606060;
  --gray-9: #484848;
  --gray-10: #383838;
  --gray-11: #b4b4b4;
  --gray-12: #eee;

  --gray-a1: #00000000;
  --gray-a2: #ffffff12;
  --gray-a3: #ffffff1f;
  --gray-a4: #ffffff28;
  --gray-a5: #ffffff30;
  --gray-a6: #ffffff3a;
  --gray-a7: #ffffff48;
  --gray-a8: #ffffff60;
  --gray-a9: #ffffff48;
  --gray-a10: #ffffff38;
  --gray-a11: #ffffffb4;
  --gray-a12: #ffffffee;

  --gray-contrast: #fff;
  --gray-surface: #24242480;
  --gray-indicator: #484848;
  --gray-track: #484848;

  --celestial-1: hsl(240, 84%, 4.9%);
  --celestial-2: hsl(240, 47.4%, 11.2%);
  --celestial-3: hsl(240, 32.6%, 17.5%);
  --celestial-4: hsl(240, 25%, 26.7%);
  --celestial-5: hsl(240, 19.3%, 34.5%);
  --celestial-6: hsl(240, 16.3%, 46.9%);
  --celestial-7: hsl(240, 20.2%, 65.1%);
  --celestial-8: hsl(240, 26.8%, 83.9%);
  --celestial-9: hsl(240, 31.8%, 91.4%);
  --celestial-10: hsl(240, 40%, 96.1%);
  --celestial-11: hsl(240, 40%, 98%);
  --celestial-12: hsl(240, 100%, 99%);

  --celestial-a1: hsla(240, 84%, 4.9%, 0.03);
  --celestial-a2: hsla(240, 47.4%, 11.2%, 0.06);
  --celestial-a3: hsla(240, 32.6%, 17.5%, 0.1);
  --celestial-a4: hsla(240, 25%, 26.7%, 0.15);
  --celestial-a5: hsla(240, 19.3%, 34.5%, 0.2);
  --celestial-a6: hsla(240, 16.3%, 46.9%, 0.25);
  --celestial-a7: hsla(240, 20.2%, 65.1%, 0.31);
  --celestial-a8: hsla(240, 26.8%, 83.9%, 0.44);
  --celestial-a9: hsla(240, 31.8%, 91.4%, 0.72);
  --celestial-a10: hsla(240, 40%, 96.1%, 0.82);
  --celestial-a11: hsla(240, 40%, 98%, 0.91);
  --celestial-a12: hsla(240, 100%, 99%, 0.97);

  --custom-1: #131014;
  --custom-2: #1c151d;
  --custom-3: #2e1f2f;
  --custom-4: #3c263e;
  --custom-5: #472e4a;
  --custom-6: #543a56;
  --custom-7: #684b6b;
  --custom-8: #86618a;
  --custom-9: #deade3;
  --custom-10: #d3a3d8;
  --custom-11: #d6a6db;
  --custom-12: #ebd9ed;

  --custom-a1: #9100d104;
  --custom-a2: #e960fd0d;
  --custom-a3: #f27ef921;
  --custom-a4: #f17ffc31;
  --custom-a5: #f089fc3e;
  --custom-a6: #f89fff4a;
  --custom-a7: #f5a9fd61;
  --custom-a8: #f7aeff82;
  --custom-a9: #f9c2ffe1;
  --custom-a10: #f8bffed6;
  --custom-a11: #f8c0fed9;
  --custom-a12: #fde9ffec;

  --custom-contrast: #2b1b2d;
  --custom-surface: #27192980;
  --custom-indicator: #deade3;
  --custom-track: #deade3;

  --cyan-1: #000;
  --cyan-2: #091418;
  --cyan-3: #042832;
  --cyan-4: #003646;
  --cyan-5: #004456;
  --cyan-6: #035367;
  --cyan-7: #11677e;
  --cyan-8: #13809c;
  --cyan-9: #12677e;
  --cyan-10: #0b576c;
  --cyan-11: #6ac8e6;
  --cyan-12: #b8eafc;

  --cyan-a1: #00000000;
  --cyan-a2: #60d5ff18;
  --cyan-a3: #15ccff32;
  --cyan-a4: #00c5ff46;
  --cyan-a5: #00caff56;
  --cyan-a6: #08ceff67;
  --cyan-a7: #23d1ff7e;
  --cyan-a8: #1fd2ff9c;
  --cyan-a9: #25d1ff7e;
  --cyan-a10: #1aceff6c;
  --cyan-a11: #76deffe6;
  --cyan-a12: #baedfffc;

  --cyan-contrast: #fff;
  --cyan-surface: #12283080;
  --cyan-indicator: #12677e;
  --cyan-track: #12677e;

  --green-1: #000;
  --green-2: #0c140f;
  --green-3: #10291d;
  --green-4: #103926;
  --green-5: #174831;
  --green-6: #20573d;
  --green-7: #28684a;
  --green-8: #2e7c58;
  --green-9: #28684a;
  --green-10: #21583e;
  --green-11: #7ecba3;
  --green-12: #b0f1cd;

  --green-a1: #00000000;
  --green-a2: #99ffc014;
  --green-a3: #64ffb529;
  --green-a4: #48ffaa39;
  --green-a5: #52ffae48;
  --green-a6: #5effb357;
  --green-a7: #63ffb668;
  --green-a8: #5fffb57c;
  --green-a9: #63ffb668;
  --green-a10: #60ffb458;
  --green-a11: #9effcdcb;
  --green-a12: #baffd9f1;

  --green-contrast: #fff;
  --green-surface: #18281e80;
  --green-indicator: #28684a;
  --green-track: #28684a;

  --violet-1: #000;
  --violet-2: #120f1e;
  --violet-3: #241c40;
  --violet-4: #312358;
  --violet-5: #3b2d67;
  --violet-6: #463875;
  --violet-7: #56468b;
  --violet-8: #6b57ab;
  --violet-9: #56468b;
  --violet-10: #473876;
  --violet-11: #b9a7ff;
  --violet-12: #e2ddfe;

  --violet-a1: #00000000;
  --violet-a2: #9980ff1e;
  --violet-a3: #9070ff40;
  --violet-a4: #8e66ff58;
  --violet-a5: #9370ff67;
  --violet-a6: #997bff75;
  --violet-a7: #9e81ff8b;
  --violet-a8: #a082ffab;
  --violet-a9: #9e81ff8b;
  --violet-a10: #9a7aff76;
  --violet-a11: #b9a7ff;
  --violet-a12: #e3defffe;

  --violet-contrast: #fff;
  --violet-surface: #241e3c80;
  --violet-indicator: #56468b;
  --violet-track: #56468b;

  --amber-1: #000;
  --amber-2: #171109;
  --amber-3: #2c1c05;
  --amber-4: #3f2400;
  --amber-5: #4e2e00;
  --amber-6: #5c3c04;
  --amber-7: #704e18;
  --amber-8: #8e6422;
  --amber-9: #714f19;
  --amber-10: #60410a;
  --amber-11: #facc8b;
  --amber-12: #ffe3b4;

  --amber-a1: #00000000;
  --amber-a2: #ffbd6417;
  --amber-a3: #ffa31d2c;
  --amber-a4: #ff92003f;
  --amber-a5: #ff97004e;
  --amber-a6: #ffa70c5c;
  --amber-a7: #ffb23770;
  --amber-a8: #ffb43d8e;
  --amber-a9: #ffb33971;
  --amber-a10: #ffad1b60;
  --amber-a11: #ffd08efa;
  --amber-a12: #ffe3b4;

  --amber-contrast: #fff;
  --amber-surface: #2e221280;
  --amber-indicator: #714f19;
  --amber-track: #714f19;

  --red-1: #000;
  --red-2: #190c0c;
  --red-3: #370e12;
  --red-4: #4e0c15;
  --red-5: #60151e;
  --red-6: #72222a;
  --red-7: #8c333a;
  --red-8: #b5444d;
  --red-9: #8c333a;
  --red-10: #77272e;
  --red-11: #ff8f93;
  --red-12: #ffd1d1;

  --red-a1: #00000000;
  --red-a2: #ff7b7b19;
  --red-a3: #ff415437;
  --red-a4: #ff28454e;
  --red-a5: #ff385060;
  --red-a6: #ff4d5e72;
  --red-a7: #ff5d6a8c;
  --red-a8: #ff606db5;
  --red-a9: #ff5d6a8c;
  --red-a10: #ff546377;
  --red-a11: #ff8f93;
  --red-a12: #ffd1d1;

  --red-contrast: #fff;
  --red-surface: #32181880;
  --red-indicator: #8c333a;
  --red-track: #8c333a;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(0% 0 none);
      --gray-2: oklch(18.4% 0 none);
      --gray-3: oklch(23.9% 0 none);
      --gray-4: oklch(27.6% 0 none);
      --gray-5: oklch(30.9% 0 none);
      --gray-6: oklch(34.7% 0 none);
      --gray-7: oklch(40.1% 0 none);
      --gray-8: oklch(48.7% 0 none);
      --gray-9: oklch(40.2% 0 none);
      --gray-10: oklch(34.2% 0 none);
      --gray-11: oklch(77% 0 none);
      --gray-12: oklch(94.9% 0 none);

      --gray-a1: color(display-p3 0 0 0 / 0);
      --gray-a2: color(display-p3 1 1 1 / 0.0706);
      --gray-a3: color(display-p3 1 1 1 / 0.1216);
      --gray-a4: color(display-p3 1 1 1 / 0.1569);
      --gray-a5: color(display-p3 1 1 1 / 0.1882);
      --gray-a6: color(display-p3 1 1 1 / 0.2275);
      --gray-a7: color(display-p3 1 1 1 / 0.2824);
      --gray-a8: color(display-p3 1 1 1 / 0.3765);
      --gray-a9: color(display-p3 1 1 1 / 0.2824);
      --gray-a10: color(display-p3 1 1 1 / 0.2196);
      --gray-a11: color(display-p3 1 1 1 / 0.7059);
      --gray-a12: color(display-p3 1 1 1 / 0.9333);

      --gray-contrast: #fff;
      --gray-surface: color(display-p3 0.1412 0.1412 0.1412 / 0.5);
      --gray-indicator: oklch(40.2% 0 none);
      --gray-track: oklch(40.2% 0 none);

      --custom-1: oklch(17.8% 0.0104 323.3);
      --custom-2: oklch(20.8% 0.0185 323.3);
      --custom-3: oklch(26.5% 0.0367 323.3);
      --custom-4: oklch(30.6% 0.0523 323.3);
      --custom-5: oklch(34.3% 0.0566 323.3);
      --custom-6: oklch(38.9% 0.0576 323.3);
      --custom-7: oklch(45.6% 0.0632 323.3);
      --custom-8: oklch(54.5% 0.076 323.3);
      --custom-9: oklch(80.9% 0.0915 323.3);
      --custom-10: oklch(77.6% 0.0915 323.3);
      --custom-11: oklch(78.6% 0.0915 323.3);
      --custom-12: oklch(90.6% 0.0326 323.3);

      --custom-a1: color(display-p3 0.3686 0 0.9725 / 0.013);
      --custom-a2: color(display-p3 0.902 0.4039 0.9882 / 0.047);
      --custom-a3: color(display-p3 0.9373 0.549 1 / 0.122);
      --custom-a4: color(display-p3 0.9176 0.5333 1 / 0.185);
      --custom-a5: color(display-p3 0.9137 0.5765 1 / 0.232);
      --custom-a6: color(display-p3 0.9451 0.651 1 / 0.282);
      --custom-a7: color(display-p3 0.9451 0.6941 1 / 0.37);
      --custom-a8: color(display-p3 0.9412 0.7137 1 / 0.496);
      --custom-a9: color(display-p3 0.9569 0.7804 1 / 0.87);
      --custom-a10: color(display-p3 0.9569 0.7725 1 / 0.824);
      --custom-a11: color(display-p3 0.9569 0.7725 1 / 0.837);
      --custom-a12: color(display-p3 0.9843 0.9255 1 / 0.921);

      --custom-contrast: #2b1b2d;
      --custom-surface: color(display-p3 0.1412 0.0941 0.149 / 0.5);
      --custom-indicator: oklch(80.9% 0.0915 323.3);
      --custom-track: oklch(80.9% 0.0915 323.3);

      --cyan-1: oklch(0% 0.0171 221.6);
      --cyan-2: oklch(18.2% 0.0182 221.6);
      --cyan-3: oklch(25.7% 0.044 221.6);
      --cyan-4: oklch(30.7% 0.0628 221.6);
      --cyan-5: oklch(35.7% 0.0703 221.6);
      --cyan-6: oklch(41.1% 0.0747 221.6);
      --cyan-7: oklch(47.7% 0.0827 221.6);
      --cyan-8: oklch(55.7% 0.0984 221.6);
      --cyan-9: oklch(47.8% 0.0827 221.6);
      --cyan-10: oklch(42.6% 0.0747 221.6);
      --cyan-11: oklch(78.6% 0.0984 221.6);
      --cyan-12: oklch(90.9% 0.0568 221.6);

      --cyan-a1: color(display-p3 0 0 0 / 0);
      --cyan-a2: color(display-p3 0.4549 0.8275 0.9922 / 0.095);
      --cyan-a3: color(display-p3 0.3059 0.7961 0.9961 / 0.193);
      --cyan-a4: color(display-p3 0.2824 0.7804 1 / 0.267);
      --cyan-a5: color(display-p3 0.3098 0.8 1 / 0.33);
      --cyan-a6: color(display-p3 0.3373 0.8118 1 / 0.397);
      --cyan-a7: color(display-p3 0.3804 0.8157 1 / 0.487);
      --cyan-a8: color(display-p3 0.3882 0.8235 1 / 0.6);
      --cyan-a9: color(display-p3 0.3882 0.8157 1 / 0.487);
      --cyan-a10: color(display-p3 0.3608 0.8118 1 / 0.416);
      --cyan-a11: color(display-p3 0.5686 0.8706 1 / 0.891);
      --cyan-a12: color(display-p3 0.7765 0.9333 1 / 0.981);

      --cyan-contrast: #fff;
      --cyan-surface: color(display-p3 0.0863 0.1569 0.1804 / 0.5);
      --cyan-indicator: oklch(47.8% 0.0827 221.6);
      --cyan-track: oklch(47.8% 0.0827 221.6);

      --green-1: oklch(0% 0.0127 160.2);
      --green-2: oklch(18.1% 0.016 160.2);
      --green-3: oklch(25.6% 0.0387 160.2);
      --green-4: oklch(31% 0.0571 160.2);
      --green-5: oklch(36% 0.0657 160.2);
      --green-6: oklch(41.1% 0.0728 160.2);
      --green-7: oklch(46.6% 0.0823 160.2);
      --green-8: oklch(52.7% 0.0956 160.2);
      --green-9: oklch(46.7% 0.0823 160.2);
      --green-10: oklch(41.4% 0.0728 160.2);
      --green-11: oklch(78% 0.0956 160.2);
      --green-12: oklch(90.5% 0.0823 160.2);

      --green-a1: color(display-p3 0 0 0 / 0);
      --green-a2: color(display-p3 0.698 0.9961 0.7451 / 0.079);
      --green-a3: color(display-p3 0.5529 1 0.7529 / 0.157);
      --green-a4: color(display-p3 0.502 1 0.698 / 0.22);
      --green-a5: color(display-p3 0.5216 1 0.7176 / 0.279);
      --green-a6: color(display-p3 0.549 1 0.7333 / 0.338);
      --green-a7: color(display-p3 0.5647 1 0.7412 / 0.404);
      --green-a8: color(display-p3 0.5569 1 0.7451 / 0.479);
      --green-a9: color(display-p3 0.5647 1 0.7412 / 0.404);
      --green-a10: color(display-p3 0.5529 1 0.7373 / 0.342);
      --green-a11: color(display-p3 0.7176 1 0.8275 / 0.789);
      --green-a12: color(display-p3 0.7961 1 0.8667 / 0.938);

      --green-contrast: #fff;
      --green-surface: color(display-p3 0.102 0.1569 0.1255 / 0.5);
      --green-indicator: oklch(46.7% 0.0823 160.2);
      --green-track: oklch(46.7% 0.0823 160.2);

      --violet-1: oklch(0% 0.0259 292);
      --violet-2: oklch(17.9% 0.0313 292);
      --violet-3: oklch(25.5% 0.066 292);
      --violet-4: oklch(30.4% 0.0924 292);
      --violet-5: oklch(34.4% 0.0981 292);
      --violet-6: oklch(38.7% 0.1015 292);
      --violet-7: oklch(44.3% 0.1103 292);
      --violet-8: oklch(51.6% 0.1299 292);
      --violet-9: oklch(44.5% 0.1103 292);
      --violet-10: oklch(38.9% 0.1015 292);
      --violet-11: oklch(77.8% 0.1299 292);
      --violet-12: oklch(91.2% 0.045 292);

      --violet-a1: color(display-p3 0 0 0 / 0);
      --violet-a2: color(display-p3 0.5882 0.5176 1 / 0.114);
      --violet-a3: color(display-p3 0.5647 0.451 1 / 0.244);
      --violet-a4: color(display-p3 0.5529 0.4235 1 / 0.334);
      --violet-a5: color(display-p3 0.5725 0.4627 1 / 0.393);
      --violet-a6: color(display-p3 0.6039 0.5059 1 / 0.444);
      --violet-a7: color(display-p3 0.6157 0.5255 1 / 0.53);
      --violet-a8: color(display-p3 0.6275 0.5294 1 / 0.651);
      --violet-a9: color(display-p3 0.6157 0.5255 1 / 0.53);
      --violet-a10: color(display-p3 0.6078 0.502 1 / 0.448);
      --violet-a11: color(display-p3 0.7294 0.6745 1 / 0.977);
      --violet-a12: color(display-p3 0.8941 0.8784 1 / 0.985);

      --violet-contrast: #fff;
      --violet-surface: color(display-p3 0.1333 0.1176 0.2275 / 0.5);
      --violet-indicator: oklch(44.5% 0.1103 292);
      --violet-track: oklch(44.5% 0.1103 292);

      --amber-1: oklch(0% 0.0128 74.96);
      --amber-2: oklch(18.1% 0.0181 74.96);
      --amber-3: oklch(24.3% 0.0441 74.96);
      --amber-4: oklch(28.8% 0.072 74.96);
      --amber-5: oklch(33.3% 0.0818 74.96);
      --amber-6: oklch(38.5% 0.079 74.96);
      --amber-7: oklch(45.2% 0.0824 74.96);
      --amber-8: oklch(53.6% 0.0971 74.96);
      --amber-9: oklch(45.4% 0.0824 74.96);
      --amber-10: oklch(40% 0.079 74.96);
      --amber-11: oklch(87.1% 0.0971 74.96);
      --amber-12: oklch(93.5% 0.0721 74.96);

      --amber-a1: color(display-p3 0 0 0 / 0);
      --amber-a2: color(display-p3 0.9922 0.7686 0.451 / 0.087);
      --amber-a3: color(display-p3 1 0.6902 0.2157 / 0.165);
      --amber-a4: color(display-p3 1 0.6275 0.1216 / 0.232);
      --amber-a5: color(display-p3 1 0.6431 0.1529 / 0.287);
      --amber-a6: color(display-p3 1 0.702 0.2078 / 0.342);
      --amber-a7: color(display-p3 1 0.7412 0.3294 / 0.42);
      --amber-a8: color(display-p3 1 0.749 0.3451 / 0.534);
      --amber-a9: color(display-p3 1 0.7412 0.3333 / 0.424);
      --amber-a10: color(display-p3 1 0.7255 0.2549 / 0.357);
      --amber-a11: color(display-p3 1 0.8471 0.6078 / 0.953);
      --amber-a12: color(display-p3 1 0.9098 0.7451 / 0.981);

      --amber-contrast: #fff;
      --amber-surface: color(display-p3 0.1725 0.1333 0.0784 / 0.5);
      --amber-indicator: oklch(45.4% 0.0824 74.96);
      --amber-track: oklch(45.4% 0.0824 74.96);

      --red-1: oklch(0% 0.0134 18.77);
      --red-2: oklch(17.3% 0.0216 18.77);
      --red-3: oklch(23.5% 0.0645 18.77);
      --red-4: oklch(28.1% 0.0962 18.77);
      --red-5: oklch(32.7% 0.1069 18.77);
      --red-6: oklch(38% 0.1117 18.77);
      --red-7: oklch(44.9% 0.1211 18.77);
      --red-8: oklch(54.3% 0.1471 18.77);
      --red-9: oklch(45% 0.1211 18.77);
      --red-10: oklch(39.6% 0.1117 18.77);
      --red-11: oklch(78.4% 0.1471 18.77);
      --red-12: oklch(90.2% 0.053 18.77);

      --red-a1: color(display-p3 0 0 0 / 0);
      --red-a2: color(display-p3 0.9922 0.5608 0.5176 / 0.091);
      --red-a3: color(display-p3 0.9961 0.3412 0.3804 / 0.197);
      --red-a4: color(display-p3 1 0.2549 0.3255 / 0.279);
      --red-a5: color(display-p3 1 0.3098 0.3647 / 0.346);
      --red-a6: color(display-p3 1 0.3843 0.4196 / 0.412);
      --red-a7: color(display-p3 1 0.4392 0.4627 / 0.51);
      --red-a8: color(display-p3 1 0.4471 0.4784 / 0.659);
      --red-a9: color(display-p3 1 0.4392 0.4627 / 0.51);
      --red-a10: color(display-p3 1 0.4118 0.4392 / 0.432);
      --red-a11: color(display-p3 1 0.6196 0.6196 / 0.942);
      --red-a12: color(display-p3 1 0.851 0.8471 / 0.973);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.1804 0.102 0.102 / 0.5);
      --red-indicator: oklch(45% 0.1211 18.77);
      --red-track: oklch(45% 0.1211 18.77);
    }
  }
}

/* Because Chrome is buggy with box-shadow transitions from "transparent" keyword and/or RGB color into P3 colors. */
/* Note: using `:where` here to guarantee that the P3 color will take over regardless of the output rule order. */
:where(body) {
  --transparent: rgb(0 0 0 / 0);
}
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    body {
      --transparent: color(display-p3 0 0 0 / 0);
    }
  }
}

.default-theme {
  --color-accent-1: var(--custom-1);
  --color-accent-2: var(--custom-2);
  --color-accent-3: var(--custom-3);
  --color-accent-4: var(--custom-4);
  --color-accent-5: var(--custom-5);
  --color-accent-6: var(--custom-6);
  --color-accent-7: var(--custom-7);
  --color-accent-8: var(--custom-8);
  --color-accent-9: var(--custom-9);
  --color-accent-10: var(--custom-10);
  --color-accent-11: var(--custom-11);
  --color-accent-12: var(--custom-12);

  --color-accent-a1: var(--custom-a1);
  --color-accent-a2: var(--custom-a2);
  --color-accent-a3: var(--custom-a3);
  --color-accent-a4: var(--custom-a4);
  --color-accent-a5: var(--custom-a5);
  --color-accent-a6: var(--custom-a6);
  --color-accent-a7: var(--custom-a7);
  --color-accent-a8: var(--custom-a8);
  --color-accent-a9: var(--custom-a9);
  --color-accent-a10: var(--custom-a10);
  --color-accent-a11: var(--custom-a11);
  --color-accent-a12: var(--custom-a12);

  --color-accent-contrast: var(--custom-contrast);
  --color-accent-surface: var(--custom-surface);
  --color-accent-indicator: var(--custom-indicator);
  --color-accent-track: var(--custom-track);

  --color-accent-link: color-mix(in srgb, var(--color-accent-11) 90%, var(--knockout));
}

.cyan-theme,
.info-theme {
  --color-accent-1: var(--cyan-1);
  --color-accent-2: var(--cyan-2);
  --color-accent-3: var(--cyan-3);
  --color-accent-4: var(--cyan-4);
  --color-accent-5: var(--cyan-5);
  --color-accent-6: var(--cyan-6);
  --color-accent-7: var(--cyan-7);
  --color-accent-8: var(--cyan-8);
  --color-accent-9: var(--cyan-9);
  --color-accent-10: var(--cyan-10);
  --color-accent-11: var(--cyan-11);
  --color-accent-12: var(--cyan-12);

  --color-accent-a1: var(--cyan-a1);
  --color-accent-a2: var(--cyan-a2);
  --color-accent-a3: var(--cyan-a3);
  --color-accent-a4: var(--cyan-a4);
  --color-accent-a5: var(--cyan-a5);
  --color-accent-a6: var(--cyan-a6);
  --color-accent-a7: var(--cyan-a7);
  --color-accent-a8: var(--cyan-a8);
  --color-accent-a9: var(--cyan-a9);
  --color-accent-a10: var(--cyan-a10);
  --color-accent-a11: var(--cyan-a11);
  --color-accent-a12: var(--cyan-a12);

  --color-accent-contrast: var(--cyan-contrast);
  --color-accent-surface: var(--cyan-surface);
  --color-accent-indicator: var(--cyan-indicator);
  --color-accent-track: var(--cyan-track);

  --color-accent-link: color-mix(in srgb, var(--color-accent-11) 90%, var(--knockout));
}

.green-theme,
.success-theme {
  --color-accent-1: var(--green-1);
  --color-accent-2: var(--green-2);
  --color-accent-3: var(--green-3);
  --color-accent-4: var(--green-4);
  --color-accent-5: var(--green-5);
  --color-accent-6: var(--green-6);
  --color-accent-7: var(--green-7);
  --color-accent-8: var(--green-8);
  --color-accent-9: var(--green-9);
  --color-accent-10: var(--green-10);
  --color-accent-11: var(--green-11);
  --color-accent-12: var(--green-12);

  --color-accent-a1: var(--green-a1);
  --color-accent-a2: var(--green-a2);
  --color-accent-a3: var(--green-a3);
  --color-accent-a4: var(--green-a4);
  --color-accent-a5: var(--green-a5);
  --color-accent-a6: var(--green-a6);
  --color-accent-a7: var(--green-a7);
  --color-accent-a8: var(--green-a8);
  --color-accent-a9: var(--green-a9);
  --color-accent-a10: var(--green-a10);
  --color-accent-a11: var(--green-a11);
  --color-accent-a12: var(--green-a12);

  --color-accent-contrast: var(--green-contrast);
  --color-accent-surface: var(--green-surface);
  --color-accent-indicator: var(--green-indicator);
  --color-accent-track: var(--green-track);

  --color-accent-link: color-mix(in srgb, var(--color-accent-11) 90%, var(--knockout));
}

.violet-theme,
.critical-theme {
  --color-accent-1: var(--violet-1);
  --color-accent-2: var(--violet-2);
  --color-accent-3: var(--violet-3);
  --color-accent-4: var(--violet-4);
  --color-accent-5: var(--violet-5);
  --color-accent-6: var(--violet-6);
  --color-accent-7: var(--violet-7);
  --color-accent-8: var(--violet-8);
  --color-accent-9: var(--violet-9);
  --color-accent-10: var(--violet-10);
  --color-accent-11: var(--violet-11);
  --color-accent-12: var(--violet-12);

  --color-accent-a1: var(--violet-a1);
  --color-accent-a2: var(--violet-a2);
  --color-accent-a3: var(--violet-a3);
  --color-accent-a4: var(--violet-a4);
  --color-accent-a5: var(--violet-a5);
  --color-accent-a6: var(--violet-a6);
  --color-accent-a7: var(--violet-a7);
  --color-accent-a8: var(--violet-a8);
  --color-accent-a9: var(--violet-a9);
  --color-accent-a10: var(--violet-a10);
  --color-accent-a11: var(--violet-a11);
  --color-accent-a12: var(--violet-a12);

  --color-accent-contrast: var(--violet-contrast);
  --color-accent-surface: var(--violet-surface);
  --color-accent-indicator: var(--violet-indicator);
  --color-accent-track: var(--violet-track);

  --color-accent-link: color-mix(in srgb, var(--color-accent-11) 90%, var(--knockout));
}

.amber-theme,
.warning-theme {
  --color-accent-1: var(--amber-1);
  --color-accent-2: var(--amber-2);
  --color-accent-3: var(--amber-3);
  --color-accent-4: var(--amber-4);
  --color-accent-5: var(--amber-5);
  --color-accent-6: var(--amber-6);
  --color-accent-7: var(--amber-7);
  --color-accent-8: var(--amber-8);
  --color-accent-9: var(--amber-9);
  --color-accent-10: var(--amber-10);
  --color-accent-11: var(--amber-11);
  --color-accent-12: var(--amber-12);

  --color-accent-a1: var(--amber-a1);
  --color-accent-a2: var(--amber-a2);
  --color-accent-a3: var(--amber-a3);
  --color-accent-a4: var(--amber-a4);
  --color-accent-a5: var(--amber-a5);
  --color-accent-a6: var(--amber-a6);
  --color-accent-a7: var(--amber-a7);
  --color-accent-a8: var(--amber-a8);
  --color-accent-a9: var(--amber-a9);
  --color-accent-a10: var(--amber-a10);
  --color-accent-a11: var(--amber-a11);
  --color-accent-a12: var(--amber-a12);

  --color-accent-contrast: var(--amber-contrast);
  --color-accent-surface: var(--amber-surface);
  --color-accent-indicator: var(--amber-indicator);
  --color-accent-track: var(--amber-track);

  --color-accent-link: color-mix(in srgb, var(--color-accent-11) 90%, var(--knockout));
}

.red-theme,
.danger-theme {
  --color-accent-1: var(--red-1);
  --color-accent-2: var(--red-2);
  --color-accent-3: var(--red-3);
  --color-accent-4: var(--red-4);
  --color-accent-5: var(--red-5);
  --color-accent-6: var(--red-6);
  --color-accent-7: var(--red-7);
  --color-accent-8: var(--red-8);
  --color-accent-9: var(--red-9);
  --color-accent-10: var(--red-10);
  --color-accent-11: var(--red-11);
  --color-accent-12: var(--red-12);

  --color-accent-a1: var(--red-a1);
  --color-accent-a2: var(--red-a2);
  --color-accent-a3: var(--red-a3);
  --color-accent-a4: var(--red-a4);
  --color-accent-a5: var(--red-a5);
  --color-accent-a6: var(--red-a6);
  --color-accent-a7: var(--red-a7);
  --color-accent-a8: var(--red-a8);
  --color-accent-a9: var(--red-a9);
  --color-accent-a10: var(--red-a10);
  --color-accent-a11: var(--red-a11);
  --color-accent-a12: var(--red-a12);

  --color-accent-contrast: var(--red-contrast);
  --color-accent-surface: var(--red-surface);
  --color-accent-indicator: var(--red-indicator);
  --color-accent-track: var(--red-track);

  --color-accent-link: color-mix(in srgb, var(--color-accent-11) 90%, var(--knockout));
}
