@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #040404;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  scrollbar-color: var(--color-foreground) var(--color-background);
}

.page-layout {
  max-width: 1200px;
  width: 100%;
}

.content-layout {
  max-width: calc(72ch + 32px);
  width: 100%;
}
