@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  /* color palette */
  :root,
  .light {
    --black: 0, 100%, 0%;
    --white: 0, 100%, 100%;

    --gray1: 0, 0%, 99%;
    --gray2: 0, 0%, 97.3%;
    --gray3: 0, 0%, 95.1%;
    --gray4: 0, 0%, 93%;
    --gray5: 0, 0%, 90.9%;
    --gray6: 0, 0%, 88.7%;
    --gray7: 0, 0%, 85.8%;
    --gray8: 0, 0%, 78%;
    --gray9: 0, 0%, 56.1%;
    --gray10: 0, 0%, 52.3%;
    --gray11: 0, 0%, 43.5%;
    --gray12: 0, 0%, 9%;

    --mauve1: 300, 20%, 99%;
    --mauve2: 300, 7.7%, 97.5%;
    --mauve3: 294, 5.5%, 95.3%;
    --mauve4: 289, 4.7%, 93.3%;
    --mauve5: 283, 4.4%, 91.3%;
    --mauve6: 278, 4.1%, 89.1%;
    --mauve7: 271, 3.9%, 86.3%;
    --mauve8: 255, 3.7%, 78.8%;
    --mauve9: 252, 4%, 57.3%;
    --mauve10: 253, 3.5%, 53.5%;
    --mauve11: 252, 4%, 44.8%;
    --mauve12: 260, 25%, 11%;

    --plum1: 301, 20%, 9.4%;
    --plum2: 300, 29.8%, 11.2%;
    --plum3: 298, 34.4%, 15.3%;
    --plum4: 297, 36.8%, 18.3%;
    --plum5: 296, 38.5%, 21.1%;
    --plum6: 295, 40.4%, 24.7%;
    --plum7: 294, 42.7%, 30.6%;
    --plum8: 292, 45.1%, 40%;
    --plum9: 292, 45%, 51%;
    --plum10: 295, 50%, 55.4%;
    --plum11: 300, 60%, 62%;
    --plum12: 296, 74%, 95.7%;

    --violet1: 255, 65%, 99.4%;
    --violet2: 252, 100%, 99%;
    --violet3: 252, 96.9%, 97.4%;
    --violet4: 252, 91.5%, 95.5%;
    --violet5: 252, 85.1%, 93%;
    --violet6: 252, 77.8%, 89.4%;
    --violet7: 252, 71%, 83.7%;
    --violet8: 252, 68.6%, 76.3%;
    --violet9: 252, 56%, 57.5%;
    --violet10: 251, 48.1%, 53.5%;
    --violet11: 250, 43%, 48%;
    --violet12: 254, 60%, 18.5%;

    /* custom colors */
    /* I tried, oh well */
    --bluegray1: 225, 20%, 99%;
    --bluegray2: 230, 25%, 98%;
    --bluegray3: 230, 25%, 96%;
    --bluegray4: 230, 25%, 92%;
    --bluegray5: 230, 25%, 90%;
    --bluegray6: 230, 25%, 78%;
    --bluegray7: 230, 25%, 34%;
    --bluegray8: 230, 25%, 13%;
    --bluegray9: 230, 21%, 11%;
    --bluegray10: 232, 25%, 10%;
    --bluegray11: 235, 27%, 9%;
    --bluegray12: 240, 30%, 8%;

    /* https://yoksel.github.io/url-encoder/ */
    --icons-anchor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath stroke='currentColor' fill='currentColor' d='m22 15-3-4-3 4h1.906c-.436 2.469-2.438 4.471-4.906 4.906V13h2v-2h-2V9.336c1.543-.459 2.714-1.923 2.714-3.621C15.714 3.666 14.048 2 12 2S8.286 3.666 8.286 5.715c0 1.698 1.171 3.162 2.714 3.621V11H9v2h2v6.906C8.531 19.471 6.529 17.469 6.094 15H8l-3-4-3 4h2.073c.511 3.885 3.929 7 7.927 7s7.416-3.115 7.927-7H22zM10.286 5.715C10.286 4.77 11.055 4 12 4s1.714.77 1.714 1.715c0 .951-.801 1.785-1.714 1.785s-1.714-.834-1.714-1.785z'/%3E%3C/svg%3E");
  }

  .dark {
    --gray1: 0, 0%, 8.5%;
    --gray2: 0, 0%, 11%;
    --gray3: 0, 0%, 13.6%;
    --gray4: 0, 0%, 15.8%;
    --gray5: 0, 0%, 17.9%;
    --gray6: 0, 0%, 20.5%;
    --gray7: 0, 0%, 24.3%;
    --gray8: 0, 0%, 31.2%;
    --gray9: 0, 0%, 43.9%;
    --gray10: 0, 0%, 49.4%;
    --gray11: 0, 0%, 62.8%;
    --gray12: 0, 0%, 93%;

    --mauve1: 246, 6%, 9%;
    --mauve2: 240, 5.1%, 11.6%;
    --mauve3: 241, 5%, 14.3%;
    --mauve4: 242, 4.9%, 16.5%;
    --mauve5: 243, 4.9%, 18.8%;
    --mauve6: 244, 4.9%, 21.5%;
    --mauve7: 245, 4.9%, 25.4%;
    --mauve8: 247, 4.8%, 32.5%;
    --mauve9: 252, 4%, 45.2%;
    --mauve10: 247, 3.4%, 50.7%;
    --mauve11: 253, 4%, 63.7%;
    --mauve12: 256, 6%, 93.2%;

    --plum1: 292, 90%, 99.4%;
    --plum2: 300, 100%, 98.6%;
    --plum3: 299, 71.2%, 96.4%;
    --plum4: 299, 62%, 93.8%;
    --plum5: 298, 56.1%, 90.5%;
    --plum6: 296, 51.3%, 85.8%;
    --plum7: 295, 48.2%, 78.9%;
    --plum8: 292, 47.7%, 70.8%;
    --plum9: 292, 45%, 51%;
    --plum10: 292, 50.2%, 46.9%;
    --plum11: 292, 60%, 42.5%;
    --plum12: 291, 66%, 14%;

    --violet1: 250, 20%, 10.2%;
    --violet2: 255, 30.3%, 12.9%;
    --violet3: 253, 37%, 18.4%;
    --violet4: 252, 40.1%, 22.5%;
    --violet5: 252, 42.2%, 26.2%;
    --violet6: 251, 44.3%, 31.1%;
    --violet7: 250, 46.8%, 38.9%;
    --violet8: 250, 51.8%, 51.2%;
    --violet9: 252, 56%, 57.5%;
    --violet10: 251, 63.2%, 63.2%;
    --violet11: 250, 95%, 76.8%;
    --violet12: 252, 87%, 96.4%;
  }

  /* semantic tokens */
  :root,
  .light {
    --placeholder: var(--black);

    --bg: var(--mauve4);
    --content-bg: var(--mauve1);

    --logo-fg: black;
    --logo-bg: theme(colors.transparent);
    --logo-border: theme(colors.transparent);

    --link: var(--plum8);
    --link-active: var(--plum6);
    --link-on: var(--plum4);

    --accent: var(--violet11);
    --muted: var(--bluegray6);
  }

  .dark {
    --placeholder: var(--white);

    --logo-fg: white;

    --bg: var(--bluegray12);
    --content-bg: var(--bluegray9);
  }

  /* global styles
     - font sizes
       vaguely https://type-scale.com/ -- 1.250 Major Third Type Scale, base 16 px
 */
  html * {
    font-size: 16px;
    transition: all 0.4s ease-in-out;
  }
  body {
    /* fonts are: 18px -> 21px -> ~23px (avg 21px and xl) */
    @apply bg-theme-bg font-body text-lg text-theme-placeholder lg:text-[1.3125rem] 2xl:text-[1.43775rem];
  }

  .page-container {
    @apply mx-auto w-full max-w-[95%] px-0 sm:max-w-[90%] sm:px-[1.5rem] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1325px];
  }

  h1 {
    @apply font-heading text-3xl font-semibold tracking-wider sm:text-4xl 2xl:text-5xl;
  }
  h2 {
    @apply font-heading text-2xl font-semibold tracking-wider sm:text-3xl 2xl:text-4xl;
  }
  h3 {
    @apply font-heading text-xl font-semibold tracking-wide sm:text-2xl 2xl:text-3xl;
  }
  h4 {
    @apply font-heading text-lg font-semibold tracking-wide sm:text-xl 2xl:text-2xl;
  }
  h5 {
    @apply font-heading text-base font-semibold tracking-wide sm:text-lg 2xl:text-xl;
  }
  h6 {
    @apply font-heading text-sm font-semibold tracking-wide sm:text-base 2xl:text-lg;
  }
  .main-nav {
    /* lg is avg lg and xl */
    @apply font-heading text-lg font-medium tracking-wide lg:text-[1.344rem];
  }

  /* link styles
     link underline animation based off https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
 */
  a {
    @apply relative text-link-base;
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;

    &:before {
      @apply absolute bottom-0 left-0 block h-px w-full scale-x-0 bg-link-active content-[''];
      transition: transform 0.3s ease;
    }
    &:hover {
      @apply text-link-active before:scale-x-100;
    }

    &.on {
      @apply text-link-on;
    }
    &.on:before {
      @apply scale-x-100 bg-link-base;
    }
    &.on:hover {
      @apply text-link-on before:bg-link-active;
    }

    /* TODO: replace # with my anchor icon */
    &.anchor:after {
      /*
      since color of url in content can't easily be adjusted, use the mask trick instead https://stackoverflow.com/a/66093928/7413060
     */
      content: "";
      mask-image: var(--icons-anchor);
      padding: 0 0.5em;
      margin: 0 0.125em;
      mask-repeat: no-repeat;
      mask-position: center;
      clip-path: padding-box inset(0.28125em 0);
      background-color: transparent;
      transition: background-color 0.4s ease-in-out;
    }
    &.anchor:hover:after {
      background-color: currentColor;
    }
  }

  .home-link {
    & svg {
      box-shadow: 0px 0px 10px 1px var(--logo-fg);
    }
    & .fg {
      transition: transform 0.3s ease-in-out;
    }
    & .border {
      transition: all 1s ease;
    }

    &:is(:hover, :focus, :focus-visible) {
      & .fg {
        transform: translate(-50px, -50px) scale(1.25);
      }
      & .bg {
        /* TODO: replace with ghostbg */
        fill: theme(colors.transparent);
      }
      & .border {
        stroke: hsl(var(--link-active));
      }
    }
  }

  button {
    @apply bg-gray-400;
  }
}

@layer utilities {
  .hide-mobile {
    @apply isMobile:hidden !important;
  }
  .hide-desktop {
    @apply isDesktop:hidden !important;
  }

  /* give nav bg a lot of transparency when backdrop filter isn't available */
  .nav-bg {
    @apply bg-theme-bg/[.99];
  }

  @supports (backdrop-filter: blur(1px)) {
    .nav-bg {
      @apply bg-theme-bg/[.85] backdrop-blur-sm;
    }
  }

  /* radix animations */
  .animated-collapsible {
    overflow: hidden;

    &[data-state="open"] {
      @apply animate-collapsibleOpen;
    }
    &[data-state="closed"] {
      @apply animate-collapsibleClose;
    }
  }
}
